asgiref==3.9.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
cbor2==6.1.4
cffi==2.1.1
channels==4.1.0
channels-redis==4.2.0
constantly==23.10.4
coverage==7.10.5
cryptography==50.0.1
daphne==4.2.3
Django==5.2.4
django-phonenumber-field==8.1.0
hyperlink==21.0.0
idna==3.19
Incremental==24.11.0
iniconfig==2.1.0
msgpack==1.2.2
packaging==25.0
phonenumbers==9.0.10
pillow==11.3.0
pluggy==1.6.0
psycopg2-binary==2.9.10
pycparser==3.0
Pygments==2.19.2
pyOpenSSL==26.4.0
pytest==8.4.1
pytest-cov==6.2.1
pytest-django==4.11.1
python-dotenv==1.1.1
redis==7.4.0
service-identity==26.1.0
sqlparse==0.5.3
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
ujson==6.0.0
zope.interface==8.6
