{% extends 'base.html' %}
{%  block content %}
    <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{ title }}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">{{ subtitle }}</p>
                </div>
            </div>
        </header>
    <div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                          <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                              {{ error }}
                            {% endfor %}
                          </div>
                        {% endif %}
                        {% if picture %}
                            <div style="text-align: center; margin-bottom: 20px;">
                                <img src="{{ picture }}" alt="Profile Picture" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
                            </div>
                        {% endif %}
<!--                        {{ form.as_p }}-->
                        {% for field in form %}
                            {{ field.label_tag }} <br>
                            {{ field }} <br>
                        {% endfor %}
                        <button type="submit" class="btn btn-secondary w-100 mt-3">{{ button_text }}</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
