{% extends 'base.html' %}
{%  block content %}
    <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{ title }}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">{{ subtitle }}</p>
                </div>
            </div>
        </header>
    <div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-secondary w-100 mt-3">Log in</button>
                    </form>
                    {% if form.non_field_errors %}
                      <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
