<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">BikeToolShare</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>


                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'update_info' %}">User Info</a></li>
                            </ul>
                            <li class="nav-item"><a class="nav-link" href="{% url 'add-tool' %}">Add Tool</a></li>
                        </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tools</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'tools' %}">All Tools</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'wrenches'%}">Wrenches</a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'drivetrain'%}">Drivetrain</a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'wheels-and-tires'%}">Wheels and Tires</a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'brakes'%}">Brakes</a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'frame-and-components'%}">Frame and Components</a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'cleaning-and-maintenance'%}">Cleaning and Maintenance</a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'diagnostics-and-measurement'%}">Diagnostics and Measurement</a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'fastening-and-torque'%}">Fastening and Torque</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form method="POST" action="{% url 'tools' %}" class="d-flex me-4" role="search">
                        {% csrf_token %}
                        <input type="text" class="form-control me-2" placeholder="Tool name" name="searched">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </form>
                    {% if user.is_authenticated %}
                        <a href="{% url 'account' %}" class="btn btn-outline-dark d-flex align-items-center">
                            <i class="bi-person-fill me-1"></i>
                            Account
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-dark d-flex align-items-center">
                            <i class="bi-person-fill me-1"></i>
                            Account
                        </a>
                    {% endif %}

                </div>
            </div>
        </nav>